In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [24]:
df = pd.read_csv('dataset-ncdblbpac.csv')
df = df.iloc[:,1:]
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11202,11203,11204,11205,11206,11207,11208,11209,11210,11211
0,Angry,0,0,0,0,0,0,0,0,0,...,39.0,255.0,249.0,248.0,0.0,30.0,31.0,31.0,15.0,46.0
1,Angry,0,0,0,0,0,0,0,0,0,...,241.0,112.0,208.0,225.0,98.0,48.0,60.0,253.0,251.0,225.0
2,Angry,0,0,0,0,0,0,0,0,0,...,151.0,255.0,83.0,14.0,207.0,0.0,22.0,236.0,0.0,4.0
3,Angry,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Angry,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
df['0'].value_counts()

Angry    250
Happy    250
Other    250
Sad      250
Name: 0, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 11212 entries, 0 to 11211
dtypes: float64(9417), int64(1794), object(1)
memory usage: 85.5+ MB

In [23]:
# Misalkan 'numeric_cols' adalah daftar fitur-fitur numerik dalam dataset Anda
scaler = StandardScaler()
label_encoder = LabelEncoder()

In [27]:
y = df.iloc[:,[0]]
# Misalkan 'y' adalah DataFrame atau Series label kelas Anda
y_encoded = pd.get_dummies(y)
y_encoded

     0_Angry  0_Happy  0_Other  0_Sad
0          1        0        0      0
1          1        0        0      0
2          1        0        0      0
3          1        0        0      0
4          1        0        0      0
..       ...      ...      ...    ...
995        0        0        0      1
996        0        0        0      1
997        0        0        0      1
998        0        0        0      1
999        0        0        0      1

[1000 rows x 4 columns]

In [29]:
X = df.iloc[:,1:]
X


# Normalisasi pada data pelatihan
x_scale = scaler.fit_transform(X)
x_df = pd.DataFrame(x_scale)
x_df

,0,1,2,3,4,5,6,7,8,9,...,11201,11202,11203,11204,11205,11206,11207,11208,11209,11210
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.589217,1.614919,1.573236,1.557637,-0.947739,-0.655406,-0.607714,-0.669870,-0.761842,-0.410303
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.419725,0.164578,1.160199,1.325634,0.020350,-0.472918,-0.313892,1.526101,1.615452,1.421542
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.524652,1.614919,-0.099058,-0.802740,1.097102,-0.959552,-0.698900,1.357941,-0.912942,-0.840121
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.977081,-0.971353,-0.935205,-0.943959,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.977081,-0.971353,-0.935205,-0.943959,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.922462,1.614919,1.593384,1.587899,1.531754,-0.361397,-0.617845,-0.679762,-0.630890,-0.594510
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.977081,-0.971353,-0.935205,-0.943959,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.977081,-0.971353,-0.935205,-0.943959,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.977081,-0.971353,-0.935205,-0.943959,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.977081,-0.971353,-0.935205,-0.943959,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056

In [31]:
# Gabungkan fitur-fitur yang sudah dinormalisasi dengan label
combined_df = pd.concat([x_df, y_encoded], axis=1)
combined_df.to_csv('ncdlbpac-scale.csv')
combined_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11205,11206,11207,11208,11209,11210,0_Angry,0_Happy,0_Other,0_Sad
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.947739,-0.655406,-0.607714,-0.669870,-0.761842,-0.410303,1,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.020350,-0.472918,-0.313892,1.526101,1.615452,1.421542,1,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.097102,-0.959552,-0.698900,1.357941,-0.912942,-0.840121,1,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056,1,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.947739,-0.959552,-0.921799,-0.976515,-0.912942,-0.881056,1,0,0,0

In [ ]:
d