### `Import Library`

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

### `Config`

In [5]:
datasets =  [
                'dogcat-img-16.csv', 
                'dogcat-img-32.csv',
                'dogcat-img-64.csv',
                'dogcat-img-128.csv',
            ]

read_path = './dataset/dog-cat-csv/'

scaler = StandardScaler()
label_encoder = LabelEncoder()

### `Main`

In [6]:
tes_df = pd.read_csv(f'{read_path}{datasets[0]}')
tes_df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,247,248,249,250,251,252,253,254,255,256
0,0,Angry,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Angry,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Angry,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Angry,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Angry,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
for i in datasets:
    df = pd.read_csv(f"{read_path}{i}")
    df = df.iloc[:,1:]
    
    x = df.iloc[:,1:]
    y = df.iloc[:,[0]]

    y_encoded = pd.DataFrame(label_encoder.fit_transform(y))
    x = pd.DataFrame(scaler.fit_transform(x))
    
    combined_df = pd.concat([x, y_encoded], axis=1)
    combined_df.to_csv(f'./dataset/dogcat-encode/encoded-{i}')

c:\ProgramData\anaconda3\envs\mdl\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\envs\mdl\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\envs\mdl\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\ProgramData\anaconda3\envs\mdl\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
tes_res = pd.read_csv('./dataset-le/le-dataset-resize-16.csv')
tes_res.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,247,248,249,250,251,252,253,254,255,0.1
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0